<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- My CSS -->
  <link rel="stylesheet" href="../static/assets/css/style.css">
  <link rel="stylesheet" href="../static/assets/css/d3Style.css">

  <title>Yelp Visualizations</title>
</head>

<body>
  <!-- Navigation Bar Section  -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://s3-media4.fl.yelpcdn.com/assets/srv0/styleguide/c910e279d123/assets/img/brand_guidelines/burst_icon@2x.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <strong>Yelp Dataset Visualizations</strong>
    </a>
    <form class="form">
      <select class="city-filter my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>Select City...</option>
        <option value="1">Las Vegas</option>
        <option value="2">Toronto</option>
        <option value="3">Phoenix</option>
      </select>
    </form>
    <!-- <div class="form-group">
      <ul class="list-group" id="filters">
        <li class="filter list-group-item">
          <label for="state">City</label>
          <select class="form-control" id="dropdown-filter">
          </select>
        </li>
        </li>
      </ul>
    </div> -->
  </nav>
  
  <!-- Cards/Panels to hold all the summary stats -->
  <div class="row row-cols-4 row-cols-md-4">
    <div class="col mb-4">
      <div class="card text-center border-light bg-light" style="height:6rem;">
        <div class="card-body bg-danger text-white">
          <h4 class="card-title" id="businesses-count">20</h4>
          <h6 class="card-subtitle mb-2">Businesses</h6>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card text-center border-light bg-light" style="height:6rem;">
        <div class="card-body bg-success text-white">
          <h4 class="card-title" id="average-stars">4.5</h4>
          <h6 class="card-subtitle mb-2">Average Stars</h6>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card text-center border-light bg-light" style="height:6rem;">
        <div class="card-body bg-warning">
          <h4 class="card-title" id="average-reviews">500</h4>
          <h6 class="card-subtitle mb-2">Average Reviews</h6>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card text-center border-light bg-light" style="height:6rem;">
        <div class="card-body bg-info">
          <h4 class="card-title" id="top-category">Gastropubs</h4>
          <h6 class="card-subtitle mb-2">Top Category</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- Card/Panel to hold the Map -->
  <div class="row row-cols-1 row-cols-md-1">
    <div class="col mb-4">
      <div class="card border-light bg-light text-center">
        <div class="card-body">
          <h5 class="card-title">Visualization 1 (Map Plot)</h5>
          <p class="card-text">This will be a wider panel that houses the interactive map plot with all businesses plotted for the selected city</p>
          <p class="card-text">Map will include pins with popup for business info, star rating, etc.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Cards/Panels to hold all the Visualizations -->
  <div class="row row-cols-2 row-cols-md-2">
    <div class="col mb-4">
      <div class="card border-light bg-light">
        <div class="card-body">
          <h5 class="card-title">Visualization 2 (Bar Chart or Dot Plot)</h5>
          <p class="card-text">This panel will house a Bar Chart or Dot Plot (either horizontal or vertical)</p>
          <p class="card-text">Add a button to perhaps allow user to toggle between both</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card border-light bg-light">
        <div class="card-body">
          <h5 class="card-title">Visualization 3 (Bubble Plot or Gauge Chart)</h5>
          <p class="card-text">This panel will house a Bar Chart or Dot Plot (either horizontal or vertical)</p>
          <p class="card-text">Add a button to perhaps allow user to toggle between both</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer-->
  <!-- <div id="footer">
    <p>The Coding Boot Camp&copy;2016</p>
  </div> -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script type="text/javascript" src="../static/assets/js/yelp_dashboard.js"></script>       
</body>

</html>