<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   
  <!-- My CSS -->
  <link rel="stylesheet" href="../static/assets/css/style.css">
  <link rel="stylesheet" href="../static/assets/css/d3Style.css">

  <title>Yelp Visualizations</title>
</head>

<body>
  <!-- Navigation Bar Section  -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://s3-media4.fl.yelpcdn.com/assets/srv0/styleguide/c910e279d123/assets/img/brand_guidelines/burst_icon@2x.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <strong>Yelp Dataset Visualizations</strong>
    </a>
    <form class="form">
      <select class="city-filter my-1 mr-sm-2" id="inlineFormCustomSelectPref1">
        <option selected>Select City...</option>
        <option value="1">Las Vegas</option>
        <option value="2">Toronto</option>
        <option value="3">Phoenix</option>
      </select>
    </form>
    <!-- <div class="form-group">
      <ul class="list-group" id="filters">
        <li class="filter list-group-item">
          <label for="state">City</label>
          <select class="form-control" id="dropdown-filter">
          </select>
        </li>
        </li>
      </ul>
    </div> -->
  </nav>
  
  <!-- Cards/Panels to hold all the summary stats -->
  <div class="row row-cols-4 row-cols-md-4">
    <div class="col mb-2">
      <div class="card text-center border-light bg-light rounded">
        <div class="card-body-shadow-lg bg-danger text-white rounded">
          <h4 class="card-title" id="businesses-count">#</h4>
          <h6 class="card-subtitle mb-2">Businesses</h6>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card text-center border-light bg-light">
        <div class="card-body-shadow-lg bg-success text-white rounded">
          <h4 class="card-title" id="average-stars-summary">#</h4>
          <h6 class="card-subtitle mb-2">Average Stars</h6>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card text-center border-light bg-light">
        <div class="card-body-shadow-lg bg-warning rounded">
          <h4 class="card-title" id="average-reviews">#</h4>
          <h6 class="card-subtitle mb-2">Average Reviews</h6>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card text-center border-light bg-light">
        <div class="card-body-shadow-lg bg-info rounded">
          <h4 class="card-title" id="top-category">Blah</h4>
          <h6 class="card-subtitle mb-2">Top Category</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- Card/Panel to hold the Map -->
  <div class="row" id="map-holder1">
    <div class="col-lg-6 col-md-12" id="map-holder2">
      <div class="card border-light bg-light text-center" id="map-holder3">
        <div class="card-body" id="card-map">
          <div id="yelp-map"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12" id="viz-holder1">
      <div class="card border-light bg-light" id="viz-holder2">
        <div class="card-body" id="card-tabs">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-tab-viz1" data-toggle="tab" href="#nav-viz4" role="tab" aria-controls="nav-tab-viz3" aria-selected="true">Business Categories</a>
              <a class="nav-item nav-link" id="nav-tab-viz2" data-toggle="tab" href="#nav-viz2" role="tab" aria-controls="nav-tab-viz1" aria-selected="false">Reviews vs Stars</a>
              <a class="nav-item nav-link" id="nav-tab-viz3" data-toggle="tab" href="#nav-viz3" role="tab" aria-controls="nav-tab-viz2" aria-selected="false">Stars by Category</a>
              <a class="nav-item nav-link" id="nav-tab-viz4" data-toggle="tab" href="#nav-viz4" role="tab" aria-controls="nav-tab-viz3" aria-selected="false">Tips Tag-Cloud</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-viz1" role="tabpanel" aria-labelledby="nav-barchart-tab">
              <div id="biz-cat-bar-chart"></div>
            </div>
            <div class="tab-pane fade" id="nav-viz2" role="tabpanel" aria-labelledby="nav-scatter-tab">
                <div id="reviews-stars-scatter-plot"></div>
            </div>
            <div class="tab-pane fade" id="nav-viz3" role="tabpanel" aria-labelledby="nav-gauge-tab">
              <ul class="list-group" id="filters">
                <li class="filter list-group-item">
                  <label for="state">Select Business Category:</label>
                  <select class="form-control" id="category-filter" onchange="optionChanged(this.value)">
                  </select>
                </li>
              </ul>
              <div id="stars-gauge-plot"></div>
            </div>
            <div class="tab-pane fade" id="nav-viz4" role="tabpanel" aria-labelledby="nav-tipscloud-tab">
              <p class="font-weight-normal">A visual of words from Tips written by users on Yelp Businesses. Tips are shorter than reviews and tend to convey quick suggestions.</p>
              <div id="tips-tag-cloud"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS, d3, d3-tip, Plotly.js, Leaflet.js, AnyChart.js-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-cartesian.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-bundle.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-data-adapter.min.js"></script>
  <script type="text/javascript" src="../static/assets/js/config.js"></script>       
  <script type="text/javascript" src="../static/assets/js/yelp_dashboard.js"></script>
</body>

</html>